a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
    }

    .error input,
    .error textarea {
      border: 1px solid red;
    }

    .error {
      color: red;
    }
body {
    font-family: "MuseoSansCyrl-300";
    background-color: #fff;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    color: #000;
    -webkit-font-smoothing: antialiazed;
    -webkit-overflow-scrolling: touch;
}
.top-block {
    background-color: #E3F1F2;
    height: 600px;
    padding-left: 10px;
} 

  

.wrap-site {
    background: #fff;
    min-width: 320px;
    max-width: 1680px;
    margin: 0 auto;
}
/* ////////////////////////////////////////////////////////  Верхушка  ///////////////////////////////////// */
.logo {
    margin-top: 20px;
}

.vopros {
    color: #00457D;
    font-family: "MuseoSansCyrl-300";
    font-size: 14px;
    margin-top: 24px;
}

.zvonite {
    color: #00457D;
    font-family: "MuseoSansCyrl-300";
    font-size: 14px;
}

.nomer {
    color: #00457D;
    font-family: "MuseoSansCyrl-700";
    font-size: 18px;
    margin-top: 32px;
}
#phone{
    color: #00457D;
    font-family: "MuseoSansCyrl-700";
    font-size: 25px;
    margin-top: 30px;
}
#icon {
    fill: green;
}
.icon_phone {
    margin-top: 20px;
}
/* ////////////////////////////////////////////////////////////  Главная  ///////////////////////////////////*/
.bk {
    font-family: "MuseoSansCyrl-900";
    font-size: 40px;
    color: #00457D;
    letter-spacing: 0.5px;
    margin-top: 120px;
}

.vim {
    font-family: "MuseoSansCyrl-500";
    font-size: 30px;
    color: #00457E;

}

.slogan {
    color: #4F6475;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-top: 15px;
    margin-left: 2px;
}

.main-pic {
    margin-top: 160px;
    margin-right: 40px;
}


#btn {
    color: white;
    background-color: #f8c600;
    box-shadow: 0px 0px 5px #FEDB8A;
    font-family: "MuseoSansCyrl-700";
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.7px;
    border-radius: 100px;
    margin-top: 30px;
}
    #btn:hover {
        background-color: #FFB700;
        text-decoration: none;
    }



/*////////////////////////////////////////////////////// Пруфы  ////////////////////////////////// */
.proof {
    text-align: center;
}
.mainHeader{
    color: black;
    font-family: "MuseoSansCyrl-500";
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
}
.headers {
    color: black;
    font-family: "MuseoSansCyrl-300";
    font-size: 30px;
    margin-top: 80px;
    margin-left: 20px;
    line-height: 35px;
}

.headers-low {
    color: #7B7B7B;
    font-family: "MuseoSansCyrl-300";
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/*//////////////////////////////////////////////////////   Форма   /////////////////////////////*/

#photo {
    position: relative;
    left: 135%;
}


.b-block_form {

    margin: 80px 0;
    text-align: -webkit-center;
}

    @media (max-width: 910px) {
      .b-block_form {
        margin: 50px auto; 
    } 
}
  
  .b-form {
    text-align: center;
    max-width: 320px;
    height: 460px;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    padding: 40px 10px;
 }
    @media (max-width: 910px) {
   .b-form {
        margin: 50px auto; 

    } 
      }
    .b-form_heading {
      font-family: "MuseoSansCyrl-500";
      margin-bottom: 10px;
      letter-spacing: 0.3px; 
      }
   .b-form_heading__small {
        color: #989898;
        font-size: 18px;
        margin-bottom: 40px;
        letter-spacing: 0.3px; 
       }
    .b-form_input {
      -webkit-appearance: none;
      width: 260px;
      height: 40px;
      background: #f7f7f7;
      padding: 12px;
      font-family: "MuseoSansCyrl-300";
      font-size: 13px;
      border: 1px solid #f7f7f7;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; 
    }
    
    @media (max-width: 350px) {
        .b-form_input {
          max-width: 250px;}}


    .b-form_input__button {
        background-color: #39A0FC;
        color: white;
        font-family: "MuseoSansCyrl-700";
        font-size: 14px;
        border-radius: 100px;
        padding: 16px 40px 18px 40px;
        margin: 20px auto;
        border-style: none;
        }
   .b-form_input__button:hover {
          background: rgb(8, 109, 197); 
        }
    .b-form_label {
        float: left;
        font-family: "MuseoSansCyrl-300";
        font-size: 11px;
        color: #000000;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
        padding-left: 25px;
        letter-spacing: 0.3px; 
    }
  #loading{
    top: 30px;
    position: relative
  }
.steps-container {
    margin-top: 100px;
}

.steps {
    text-align: center;
}

.point {
    margin-top: 100px;
    font-size: 18px;
}

.b-block {
    padding-top: 100px;
    }
  
    .b-block_heading {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 100px; }
      @media (max-width: 650px) {
        .b-block_heading {
          margin-bottom: 70px; } }
          @media (max-width: 360px) {
            .b-block_heading {
              font-size: 25px; } }

              .center_text{
                text-align: -webkit-center
              }
              .about_text{
                line-height: 27px;
              max-width: 1000px;
              text-align: left;
              padding: 20px;
              margin-top: 30px;
              }
.foo {
    background-color: #E3F1F2;
    height: 300px;
    padding-top: 100px;
}

.p-foo {
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    color: #00457D;
    margin-top: 10px;
}

.logo-foo {
    margin-bottom: 15px;
}
.p-fooy {
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    color: #00457D;
    margin-top: 14px;
}




@media screen and (max-width: 990px) {
   
  
   
    .main-pic {
        transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        
    }

   
}
/*//////////////////////////////////////////////////////  Меньше iPad mini  /////////////////////////////*/
@media screen and (max-width: 766px) {
    #forma {
        padding-bottom: 60px;
    }
    .main-pic {
       display: none;
        
    }
    .bk {
        text-align: center;
    }

    .vim {
        text-align: center;
    }

    .slogan {
        text-align: center;
    }

    #btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 160px;
    }
    
   
  
}
    @media screen and (max-width: 558px) {
        .top-block {     
            height: 570px;
        }
       

        .logo {
         display: none;
        }

        .bk {
            margin-top: 30px;
            
        }
        .ostavte{
            font-family: "MuseoSansCyrl-300";
            font-size: 25px;
        }
      

        #btn {
            margin-top: 0px;
        }

        .headers {
            margin-top: 40px;
            font-size: 25px;
        }
        .headers-low {
            font-size: 15px;
        }

        #form-button {
            margin-top: 10px;
        }
      
       
        }
   
    
