    a[href^=tel] {
      text-decoration: inherit;
      color: inherit;
    }

    body {
      font-family: "MuseoSansCyrl-300";
      background-color: #fff;
      font-size: 16px;
      margin: 0 auto;
      padding: 0;
      color: #000;
      -webkit-font-smoothing: antialiazed;
      -webkit-overflow-scrolling: touch;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .phoneBtn {
      cursor: pointer;
      position: fixed;
      right: 5%;
      bottom: 5%;
      height: 70px;
      z-index: 100;
      background-color: #353535;
      border-radius: 100%;
      padding: 20px;
      -webkit-box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.3);
    }

    .header {
      background-image: url(../img/main-pic.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 40px 10px 0 60px;
      overflow: hidden;
      height: 665px;
    }

    .header_line {
      height: 40px;
      margin-bottom: 20px;
    }

    .header_logo {
      background: url(../img/logotype.png);
      background-repeat: no-repeat;
      background-size: 245px auto;
      height: 50px;
    }

    .header_heading {
      font-family: "MuseoSansCyrl-700";
      color: white;
      position: absolute;
      letter-spacing: 0px;
      margin-top: 135px;
      font-size: 42px;
    }

    .header_text {
      font-family: "MuseoSansCyrl-500";
      color: white;
      font-size: 25px;
      margin-top: 220px;
    }

    .header_text2 {
      color: white;
      margin-bottom: 60px;
    }

    .header_button {
      border-style: none;
      font-size: 16px;
      border-radius: 100px;
      color: #726462;
      background: white;
      font-family: "MuseoSansCyrl-500";
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      padding: 20px 40px;
    }

    .header_button:hover {
      background: #fff7f7;
    }

    .mainHeader {
      color: black;
      font-family: "MuseoSansCyrl-500";
      font-size: 35px;
      text-align: center;
      margin-top: 80px;
    }

    .headers {
      color: black;
      font-family: "MuseoSansCyrl-300";
      font-size: 30px;
      margin-top: 80px;
      margin-left: 20px;
      line-height: 35px;
    }


    .seo_container, .marketing_container, .smm_container{
      margin: 100px 0;
      padding: 50px 0;
    }
    .seo, .marketing, .smm{
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .seoPic, .marketingPic, .smmPic {
      height: 400px;
      align-self: center;
    }

    .marketing_container{
      background-color: #f8fafe;
      margin: 100px 0;
      padding: 50px 0;
    }
    .text_content{
      margin-top: -50px;
    }

    .smm_header{
      margin-left: 550px;
    }

















    /*//////////////////////////////////////////////////////   Форма   /////////////////////////////*/

    .b-block_form {
      margin: 120px 0;
      text-align: -webkit-center;
    }

    .form {
      text-align: center;
      max-width: 340px;
      height: 460px;
      background: #ffffff;
      -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
      padding: 40px 10px;
    }

    .form_heading {
      font-family: "MuseoSansCyrl-300";
      margin-bottom: 10px;
      font-size: 30px;
      letter-spacing: 0.3px;
    }

    .form_heading__small {
      color: #989898;
      font-size: 18px;
      margin-bottom: 40px;
      letter-spacing: 0.3px;
    }

    .form_input {
      -webkit-appearance: none;
      width: 260px;
      height: 20px;
      background: #f7f7f7;
      padding: 12px;
      font-family: "MuseoSansCyrl-300";
      font-size: 13px;
      border: 1px solid #f7f7f7;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .form_input__button {
      background-color: #0083f4;
      color: white;
      font-family: "MuseoSansCyrl-700";
      font-size: 14px;
      border-radius: 100px;
      padding: 25px 50px 26px 50px;
      margin: 20px auto;
      border-style: none;
    }

    .form_input__button:hover {
      background:  #0067c2;
    }

    .form_label {
      float: left;
      font-family: "MuseoSansCyrl-300";
      font-size: 11px;
      color: #000000;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      padding-left: 35px;
      letter-spacing: 0.3px;
    }

    #loading {
      top: 30px;
      position: relative
    }

    .center_text {
      text-align: -webkit-center
    }

    .about_text {
      line-height: 27px;
      text-align: left;
      padding: 20px;
      margin-top: 30px;
      max-width: 600px;

    }

    .smm_about_text{
      text-align: right
    }

    .foo {
      background-color: #191919;
      height: 200px;
      padding-top: 100px;
      text-align: center;
    }

    .p-foo {
      font-family: "MuseoSansCyrl-300";
      font-size: 16px;
      color: white;
      margin-top: 10px;
    }

    .logo-foo {
      margin-bottom: 15px;
    }

    .p-fooYear {
      font-family: "MuseoSansCyrl-300";
      font-size: 16px;
      color: white;
      margin-top: 14px;
    }

    .modal {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transform: scale(1.1);
      transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 4rem 4rem;
      width: 24rem;
    }

    .close-button {
      position: absolute;
      font-size: 30px;
      top: 10px;
      right: 20px;
      width: 3rem;
      line-height: 3rem;
      text-align: center;
      cursor: pointer;
      color: black;
    }

    .close-button:hover {
      color: darkgray;
    }

    .show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    @media (min-width: 1600px) {
      .header {
        background-position-y: 0px;
      }
    }

    @media (max-width: 1120px) {

      .seo_container, .marketing_container, .smm_container{
        text-align: center;
      }
      .about_text{
        max-width: 1000px;
      }
      .seo, .smm{
        flex-direction: column;
      }
      .marketing{
        flex-direction: column-reverse;
      }
      .smm_about_text{
        text-align: left;
      }
      .smm_header{
        margin-left: 20px;
      }
      .container{
        padding: 0 20px;
      }
      .seoPic, .marketingPic, .smmPic {
        width: 400px;
        max-width: 400px;
        height: auto; 
      }
    }

    @media (max-width: 1050px) {
      .container {
        max-width: 1000px;
      }
    }




    @media (max-width: 976px) {
      .header {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main-pic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
      }
    }

    @media (max-width: 910px) {
      .b-block_form {
        margin: 50px auto;
      }
      .form {
        margin: 50px auto;
      }
    }

    @media (max-width: 765px) {
      .header {
        margin: 0;
        padding: 40px 20px;
        height: 500px;
        text-align: center;
      }

      .header_heading {
        margin-top: 100px;
        width: 100%;
        position: initial;
      }

      .header_text {
        margin: -10px auto 50px;
      }

      .header_text2 {
        display: none;
      }
      .phoneBtn {
        height: 40px; 
        padding: 15px;
      }
    }
    @media (max-width: 410px) {
      .seoPic, .marketingPic, .smmPic {
        width: 300px;

      }

    }

    @media (max-width: 350px) {
      .b-form_input {
        max-width: 250px;
      }
      .header_heading{
        font-size: 35px;
      }
      .header_text{
        font-family: "MuseoSansCyrl-300";
        font-size: 22px;
      }
    }